global-exclude __pycache__
recursive-include EasyFirebase/templatetags *
prune EasyFirebase/templatetags/__pycache__
recursive-exclude EasyFirebase/migrations *
prune EasyFirebase/migrations/__pycache__
recursive-exclude EasyFirebase/management/commands *
prune EasyFirebase/management/commands/__pycache__
exclude *.pyc
exclude *.pyo
exclude *.egg-info
exclude __pycache__
exclude dist
exclude build
exclude setup.cfg
exclude PKG-INFO
exclude MANIFEST.in

